<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Plugins/musicplayer_1.0.1/plugin/css/style.css" rel="stylesheet" />
    <link href="~/Plugins/musicplayer_1.0.1/demo/css/demo.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Plugins/musicplayer_1.0.1/plugin/jquery-jplayer/jquery.jplayer.js"></script>
    <script src="~/Plugins/musicplayer_1.0.1/plugin/ttw-music-player-min.js"></script>
    <script src="~/Scripts/clientJS/common.js"></script>

</head>
<body>
    <div style="margin-bottom:-500px">
        <div style="background-image: url(/Images/2017010.jpg); width: 100%; height: 250px; background-repeat: no-repeat; margin: 0;">

        </div>

        <div>
            @RenderBody()
        </div>
        <div style="background-color: lightsalmon;text-align:center">
            <footer>
                <span>&copy; @DateTime.Now.Year - My Music World</span><br />
                <span class="glyphicon glyphicon-phone">：18614098601</span><br />
                <span class="glyphicon glyphicon-envelope">：baweier2010@163.com</span>
            </footer>
        </div>
    </div>
</body>
</html>