@{
    Layout = null;
}
@model IEnumerable<mmw.Web.Models.Area>

@{
    ViewBag.Title = "AreaList";
}

<table>
    <tr><th>ID</th><th>名称</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.AreaId
            </td>
            <td>@item.AreaName</td>
            <td>@Html.Action("Delete", "Admin/Delete", new { id = item.AreaId })</td>
        </tr>
    }


</table>
<form method="post" action="Area/Create">
    <div>
        区域名称:<input type="text" name="AreaName" />
    </div>
    <div>
        <input type="submit" />
    </div>
</form>


