@{
    Layout = "/Views/Shared/_Layout_admin.cshtml";
}
@model IEnumerable<mmw.Web.Models.Area>

@{
    ViewBag.Title = "AreaList";
}

<table class="table table-striped">
    <thead> <tr><th>ID</th><th>名称</th><th>操作</th></tr></thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.AreaId
            </td>
            <td>@item.AreaName</td>
            <td>@Html.ActionLink("Delete", "Delete", "Area", new { id = item.AreaId }, new { @class = "btn btn-xs btn-danger" })</td>

        </tr>
    }
</table>
<form method="post" action="Area/Create">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加地区</h3>
        </div>

        <div class="panel-body">
            <div>
                区域名称:<input type="text" name="AreaName" />
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="提交" />
                <input type="button" class="btn btn-sm btn-warning" onclick="location.href='Admin_home/index'" value="取消" />
            </div>
        </div>
    </div>



</form>


