
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    var myPlaylist_old = [
    {
        mp3: 'SongRepository/1.mp3',
        title: 'Sample',
        artist: 'Sample1',
        rating: 4,
        buy: '#',
        price: '0.99',
        duration: '0:30',
        //cover: 'mix/1.png'
    }];

    var myPlaylist=@Html.Raw(ViewBag.songs);

    $(document).ready(function () {
        var description = 'The songs show here are all my favorite ones,just enjoy them,you will like it！';

        $('.songList').ttwMusicPlayer(myPlaylist, {
            autoPlay: false,
            description: description,
            jPlayer: {
                swfPath: '../plugin/jquery-jplayer' 
            }
        });
    });
</script>
<div style="width:500px;height:300px;" class="songList">

</div>
