
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    var myPlaylist = [
    {
        mp3: 'SongRepository/1.mp3',
        title: 'Sample',
        artist: 'Sample1',
        rating: 4,
        buy: '#',
        price: '0.99',
        duration: '0:30',
        //cover: 'mix/1.png'
    },
    {
        mp3: 'SongRepository/1.mp3',
        title: 'Sample',
        artist: 'Sample2',
        rating: 4,
        buy: '#',
        price: '0.99',
        duration: '0:30',
        //cover: 'mix/1.png'
    },
    {
        mp3: 'SongRepository/1.mp3',
        title: 'Sample',
        artist: 'Sample3',
        rating: 4,
        buy: '#',
        price: '0.99',
        duration: '0:30',
        //cover: 'mix/1.png'
    }
    ];


    $(document).ready(function () {
        var description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id tortor nisi. Aenean sodales diam ac lacus elementum scelerisque. Suspendisse a dui vitae lacus faucibus venenatis vel id nisl. Proin orci ante, ultricies nec interdum at, iaculis venenatis nulla. ';

        $('.songList').ttwMusicPlayer(myPlaylist, {
            autoPlay: false,
            description: description,
            jPlayer: {
                swfPath: '../plugin/jquery-jplayer' //You need to override the default swf path any time the directory structure changes
            }
        });
    });
</script>
<div style="width:500px;height:300px;" class="songList">

</div>
